* {
  margin: 0;
  font-family: arial, sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

nav {
  height: 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: rgba(188, 189, 192, 0.171);
}

#adv_logo {
  height: 1.5rem;
}

a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 0.75rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: left;
  color: rgb(44, 43, 43);
}

header {
  padding: 1.25rem;
  padding-left: 0;
  border-bottom: solid 1px rgba(188, 189, 192, 0.171);
}

h1 {
  font-size: 1rem;
  font-weight: 100;
  color: red;
  margin-left: 3rem;
}

p {
  margin-left: 3rem;
  margin-top: 3rem;
  font-size: .85rem;
}

form {
  justify-content: space-around;
  height: 60%;
  margin-left: 3rem;
  line-height: 1.5rem;
}

.form-search {
  width: 65%;
  margin: 0.75rem;
  margin-left: 0;
  margin-right: 0.25rem;
  font-size: 0.65rem;
}

.text-input {
  border: solid 1px rgba(107, 108, 110, 0.171);
  border-top: 1px solid rgb(207, 206, 206);
  height: 1.25rem;
  width: 65%;
  margin-right: 5%;
  padding-left: 0.5rem;
  float: right;
  font-size: 0.65rem;
}

.text-input:focus{
    outline: 0;
    border: solid 1px  rgb(68, 131, 248);
}

#advbutton {
  height: 1.5rem;
  width: 6rem;
  padding: .5rem .6rem;
  text-align: center;
  color: white;
  background-color: rgb(68, 131, 248);
  font-size: 0.55rem;
  border: none;
  border-radius: 2px;
}

#advbutton:hover {
    background-color: rgb(51, 119, 245);
}

#advbutton:focus {
    outline: 0;
    padding: .3rem;
    border-style: double;
    /* text-align: center; */
}

@media screen and (max-width: 723px) {
  .form-search {
    width: 95%;
  }

  .text-input {
      width: 55%;
  }
}

@media screen and (max-width: 398px) {
    .text-input {
        width: 45%;
    }
}

@media screen and (max-width: 320px) {
    .text-input {
        width: 40%;
    }
}
